{
  "extends": ["stylelint-config-recommended", "stylelint-config-standard"],
  "overrides": [
    {
      "files": ["**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ],
  "plugins": ["stylelint-selector-bem-pattern"],
  "rules": {
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "plugin/selector-bem-pattern": {
      "preset": "bem",
      "componentName": "[A-Z]+"
    }
  }
}
