.Stickerbook {
  overflow: hidden;
  position: relative;
}

.Stickerbook__frame,
.Stickerbook__foreground,
.Stickerbook__background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.Stickerbook__background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Stickerbook__frame,
.Stickerbook__foreground {
  object-fit: cover;
}

.Stickerbook__foreground {
  pointer-events: none;
}
